# {{ sitepilot_managed }}

{{ domain }}, www.{{ domain }} {
    tls {{ email }} {
        on_demand
    }

    reverse_proxy {
        to {{ backends | join(' ') }}

        lb_policy first 
        health_path /
        health_port 443

        transport http {
            tls_insecure_skip_verify
        }
    }
}