# {{ sitepilot_managed }}
{{ domain }}, www.{{ domain }} {
    tls {{ email }} {
        on_demand
    }

    log {
        output file /opt/sitepilot/services/caddy/logs/access.log {
            roll_size 1gb
            roll_keep 5
            roll_keep_for 720h
            format logfmt
        }
    }
  
    reverse_proxy {
        to {{ backends | join(' ') }}

        lb_policy first 

        transport http {
            tls_insecure_skip_verify
        }
    }
}