# {{ sitepilot_managed }}
vhTemplate vhost {
  templateFile            $SERVER_ROOT/conf/templates/lsphp{{ php_version | default('74') }}.conf
  listeners               http, https

  member {{ site }} {
    vhRoot                /opt/sitepilot/users/{{ user }}/$VH_NAME

    {% if domain is defined %}
    vhDomain              {{ domain }}
    {% endif %}
    
    {% if domains is defined %}
    vhAliases             {{ domains|join(', ') }}
    {% endif %}
  }
}