# {{ autopilot_managed }}
(config) {
	header Server "Sitepilot"
}

(webapps) {
	route /.sitepilot/phpmyadmin* {
		uri strip_prefix /.sitepilot
		reverse_proxy http://127.0.0.1
	}

    route /.sitepilot/health* {
		uri strip_prefix /.sitepilot
		reverse_proxy http://127.0.0.1
	}
}

*:80 {
    import config

    import webapps

    reverse_proxy /metrics* http://127.0.0.1:9100

    reverse_proxy {
        to http://127.0.0.1:6080
        header_down -Server
    }
}

{{ hostname }}:443 {
	tls {{ cert_email }} {
        on_demand
    }

    import config

    import webapps

    reverse_proxy /metrics* http://127.0.0.1:9100

	reverse_proxy {
        to https://127.0.0.1:6443
        header_down -Server

        transport http {
            tls_insecure_skip_verify
        }
    }
}

import /etc/caddy/vhosts/*.conf
