# {{ autopilot_managed }}
defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        ~/.msmtp.log

account        mailrelay
host           {{ smtp_relay_host }}
port           587
from           {{ smtp_relay_user }}
user           {{ smtp_relay_user }}
password       {{ smtp_relay_password }}

account default : mailrelay
