# {{ autopilot_managed }}
[mysqld]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
log-error	= /var/log/mysql/error.log
default_password_lifetime = 0
default_authentication_plugin=mysql_native_password