# {{ sitepilot_managed }}
version: '3.3'

services:

  mysql-1:
    image: {{ mysql_image }}
    container_name: mysql-1
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: "{{ mysql_root_pass }}"
    ports:
      - '3306:3306'
    volumes:
      - /opt/sitepilot/services/mysql/data/:/bitnami/mariadb
    healthcheck:
      test: ['CMD', '/opt/bitnami/scripts/mariadb/healthcheck.sh']
      interval: 15s
      timeout: 5s
      retries: 6

networks:
  default:
    external:
      name: {{ docker_network_name }}
